.contact {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
}

.contact h2 {
  margin-bottom: 1rem;
}

.contact .info {
  margin-bottom: 1rem;
}

.contact img {
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1;
  object-fit: cover;
}

.contact .text-content {
  padding: 1em;
}

.contact p {
  font-size: 1rem;
}

.contact .info .icon {
  width: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.contact .social {
  margin-bottom: 1rem;
}

.contact .social .icon {
  margin-right: 0.5rem;
}

.contact .social .icon:hover {
  color: var(--color-accent);
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
  }
  .contact .text-content {
    padding: 2em;
  }
}
