@import "theme.css";
@import "nav.css";
@import "footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-fg);
}
h1 {
  margin: 2em 0;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3,
h4 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.8;
}

h3,
h4 {
  letter-spacing: 1px;
}

p {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: var(--color-fg);
}

a:hover {
  color: var(--color-accent);
}

.page {
  margin: 0 auto;
  padding: 2em 1em;
  max-width: 900px;
  text-align: center;
  min-height: calc(100vh - calc(2rem + 76px));
}

.img-icon-dark {
  filter: var(--icon-filter);
}

.button {
  display: inline-block;
  background-color: var(--color-01);
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 0.5rem 2rem;
  border: none;
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0 auto 1rem auto;
  cursor: pointer;
  color: var(--color-03);
}

.button:hover {
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.7);
  background-color: rgba(var(--color-01-rgb), 0.8);
}

.button:hover {
  color: white;
}

.button .icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
